<!-- navbar.component.html -->
<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/Logo/MainLogo.svg" alt="Logo" class="logo" />
  
  </div>

  <div class="hamburger" onclick="document.querySelector('.navbar-right').classList.toggle('active')">
    ☰
  </div>

  <div class="navbar-right">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a>
    <a routerLink="/our-services" routerLinkActive="active" class="nav-link">Service</a>
    <a routerLink="/about" routerLinkActive="active" class="nav-link">About Us</a>
    <a routerLink="/fleet" routerLinkActive="active" class="nav-link">Fleet</a>
    <a routerLink="/booking" routerLinkActive="active" class="nav-link">Booking</a>
    <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
  </div>
</nav>
