.top-section {
  width: 100%;
}
@media only screen and (max-width: 1600px) {
  .top-section {
    width: 1280px;
  }
}
@media only screen and (max-width: 1500px) {
  .top-section {
    width: 1180px;
  }
}
@media only screen and (max-width: 1400px) {
  .top-section {
    width: 1080px;
  }
}
@media only screen and (max-width: 1200px) {
  .top-section {
    width: 980px;
  }
}

.middle-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (max-width: 1600px) {
  .middle-section {
    width: 1280px;
  }
}
@media only screen and (max-width: 1500px) {
  .middle-section {
    width: 1180px;
  }
}
@media only screen and (max-width: 1400px) {
  .middle-section {
    width: 1080px;
  }
}
@media only screen and (max-width: 1200px) {
  .middle-section {
    width: 980px;
  }
}

.middle-section .widget {
  height: 350px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
}

.middle-section .widget.left {
  width: 890px;
}
@media only screen and (max-width: 1600px) {
  .middle-section .widget.left {
    width: 790px;
  }
}
@media only screen and (max-width: 1500px) {
  .middle-section .widget.left {
    width: 690px;
  }
}
@media only screen and (max-width: 1400px) {
  .middle-section .widget.left {
    width: 590px;
  }
}
@media only screen and (max-width: 1200px) {
  .middle-section .widget.left {
    width: 490px;
  }
}

.middle-section .widget.right {
  width: 450px;
}

/* Bottom Section */
.bottom-section {
  display: flex;
  justify-content: space-between;
}
.bottom-section .widget {
  height: 250px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
}

.bottom-section .widget.left {
  width: 670px;
}
@media only screen and (max-width: 1200px) {
  .bottom-section .widget.left {
    width: 570px;
  }
}

.bottom-section .widget.right {
  width: 670px;
}
@media only screen and (max-width: 1600px) {
  .bottom-section .widget.right {
    width: 570px;
  }
}
@media only screen and (max-width: 1500px) {
  .bottom-section .widget.right {
    width: 470px;
  }
}
@media only screen and (max-width: 1400px) {
  .bottom-section .widget.right {
    width: 370px;
  }
}
@media only screen and (max-width: 1200px) {
  .bottom-section .widget.right {
    width: 370px;
  }
}

/* Widget Container */
.widget-container {
  display: flex;
  align-items: space-between;
}
.widget-container .widget {
  width: 250px;
  height: 150px;
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
  display: flex;
  align-items: center;
  padding: 20px;
}
.widget-container .widget.green {
  background-color: rgb(4, 67, 66);
}
.widget-container .widget.yellow {
  background-color: rgb(237, 158, 32);
}
.widget-container .widget.red {
  background-color: rgb(126, 5, 5);
}
.widget-container .widget.blue {
  background-color: rgb(105, 32, 251);
}
@media only screen and (max-width: 1600px) {
  .widget-container .widget {
    width: 300px;
  }
}
@media only screen and (max-width: 1500px) {
  .widget-container .widget {
    width: 275px;
  }
}
@media only screen and (max-width: 1400px) {
  .widget-container .widget {
    width: 250px;
  }
}
@media only screen and (max-width: 1200px) {
  .widget-container .widget {
    width: 225px;
  }
}

/* Inside Widget */
.widget .icon {
  width: 100px;
  font-size: 60px;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .widget .icon {
    font-size: 45px;
  }
}

.widget .value {
  text-align: center;
  width: 175px;
}
.widget .value .top {
  font-size: 30px;
}
@media only screen and (max-width: 1200px) {
  .widget .value .top {
    font-size: 26px;
  }
}
.widget .value .bottom {
  font-size: 20px;
  margin-top: 10px;
}
@media only screen and (max-width: 1200px) {
  .widget .value .bottom {
    font-size: 16px;
  }
}

/* Chart Container */
.chart-container {
  padding: 20px;
}

/* Transactions */
.transactions .transaction-wrapper {
  overflow: auto;
  height: 185px;
}
.transactions .title {
  padding: 20px;
  padding-bottom: 5px;
  text-align: center;
  color: #333333;
  font-size: 18px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}
.transactions .transaction {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid #f0f0f0;
}
.transactions .transaction .image {
  width: 55px;
}
.transactions .transaction .image img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.transactions .transaction .title {
  padding: 10px;
  font-size: 16px;
  width: 190px;
}
.transactions .transaction .price {
  padding: 10px;
  font-size: 16px;
  width: 90px;
}
.transactions .transaction .shop-location {
  padding: 10px;
  font-size: 16px;
  width: 190px;
}
.transactions .transaction .shop-location .location {
  margin-top: 4px;
  font-size: 14px;
  color: grey;
}
.transactions .transaction .status {
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.transactions .transaction .status.confirmed {
  color: #6920fb;
}
.transactions .transaction .status.pending {
  color: #7e0505;
}
.transactions .transaction .status.shipped {
  color: #044342;
}

/* Image Icon */
.img-icon {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-right: 5px;
}
