.row {
  display: flex;
  flex-direction: row; /* Aligns children side by side */
  gap: 16px; /* Adds space between the form fields */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}
mat-form-field {
  flex: 1; /* Each field takes equal space */
}

.content{
padding-top: 10px;
}

.action{
  padding: 0px 25px 20px;
  button{
    flex: 1;
  }
}
