<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100">

  <!-- Logo Section -->
  <div class="logo-container">
    <img src="assets/Logo/man.png" alt="Logo" />
    <h5>CAR DEMO</h5>
  </div>

  <hr />

  <!-- Sidebar Navigation -->
  <ul class="nav nav-pills flex-column mb-auto sidebar-menu">
    <li><a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-link text-white">Dashboard</a></li>
    <li><a routerLink="/admin/booking" routerLinkActive="active" class="nav-link text-white">Bookings</a></li>
    <li><a routerLink="/admin/car" routerLinkActive="active" class="nav-link text-white">Cars</a></li>
    <li><a routerLink="/admin/booking_type" routerLinkActive="active" class="nav-link text-white">Booking Types</a></li>
    <li><a routerLink="/admin/driver" routerLinkActive="active" class="nav-link text-white">Driver</a></li>
    <li><a routerLink="/admin/contact" routerLinkActive="active" class="nav-link text-white">Contact</a></li>
  </ul>

  <hr />

  <!-- Account Section -->

</div>
