.text-orange {
  color: #ff7b00;
}

.custom-card {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-title span {
  font-size: 1.8rem;
}
.team-card {
  width: 100%;
  max-width: 320px; /* smaller width */
  margin: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 16px;
}

.team-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.row.gx-3 {
  --bs-gutter-x: 1rem; /* reduce space between columns */
}

